<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yl.whs"
          android:versionCode="18"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
            android:name="com.yl.whs.app.WHSApplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppNoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.GuideActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppNoTitleBar">
        </activity>

        <activity android:name="com.yl.whs.activity.MainActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.yl.whs.activity.LoginActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.yl.whs.activity.RegisterActivity"
                  android:screenOrientation="portrait">
        </activity>


        <!--<service android:name="com.yl.whs.service.LocationService">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash; 为该Service组件的intent-filter配置action &ndash;&gt;-->
        <!--<action android:name="com.yl.whs.service.LocationService"/>-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!-- location service -->
        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote">
        </service>

        <!--&lt;!&ndash; push service client &ndash;&gt;-->
        <!--<receiver android:name="com.yl.whs.push.PushMessageReceiver">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash; 接收 push 消息 &ndash;&gt;-->
        <!--<action android:name="com.baidu.android.pushservice.action.MESSAGE"/>-->
        <!--&lt;!&ndash; 接收 bind、setTags 等 method 的返回结果 &ndash;&gt;-->
        <!--<action android:name="com.baidu.android.pushservice.action.RECEIVE"/>-->
        <!--&lt;!&ndash; 可选。接受通知点击事件,和通知自定义内容 &ndash;&gt;-->
        <!--<action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 用于接收系统消息以保证 PushService 正常运行 &ndash;&gt;-->
        <!--<receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"-->
        <!--android:process=": bdservice_v1">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
        <!--<action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>-->
        <!--<action android:name="com.baidu.android.pushservice.action.media.CLICK"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; Push 服务接收客户端发送的各种请求&ndash;&gt;-->
        <!--<receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"-->
        <!--android:process=": bdservice_v1">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.baidu.android.pushservice.action.METHOD "/>-->
        <!--<action android:name="com.baidu.android.pushservice.action.BIND_SYNC "/>-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED"/>-->
        <!--<data android:scheme="package"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; Push 服务 &ndash;&gt;-->
        <!--<service android:name="com.baidu.android.pushservice.PushService"-->
        <!--android:exported="true"-->
        <!--android:process=" bdservice_v1"/>-->

        <!--<meta-data android:name="BAIDU_PUSH_APIKEY"-->
        <!--android:value="a3Bb1XeOO1guNB7azLYm4t2F"/>-->

    </application>


</manifest>